<div class="app">
  <div class="animate__animated animate__fadeInDownBig">
    <app-calculator
      (addToHistory)="addToHistory($event)"
      [extraOp]="extraOp"
    ></app-calculator>
  </div>
  <div class="censored"></div>

  <div
    class="paper animate__animated animate__fadeInRightBig animate__delay-1s"
  >
    <p
      class="animate__animated animate__fadeIn"
      *ngFor="let calculation of calculationsHistory; let index = index"
      appHighlight
      [class.highlight]="check[index]"
    >
      {{ calculation }}
      <label [attr.for]="index" class="marker"
        ><input
          type="checkbox"
          [id]="index"
          [(ngModel)]="check[index]"
          (ngModelChange)="updateCheckValue(check[index])"
        />&#9998;</label
      >
    </p>
  </div>

  <div class="animate__animated animate__fadeInUpBig animate__delay-2s">
    <app-extra-functions
      (getResult)="onGetResult($event)"
    ></app-extra-functions>
  </div>
</div>
<!-- <button class="darkBtn" (click)="switchMode()">&#8646;</button> -->
<router-outlet></router-outlet>
