<div class="extra-block">
  <div
    id="extra"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
    [ngStyle]="{
      transform:
        'perspective(1000px) rotateX(' +
        pageY +
        'deg) rotateY(' +
        pageX +
        'deg) scale3d(1, 1, 1)'
    }"
  >
    <div class="controls">
      @for(functionName of mathFunctions; track functionName) {
      <button (click)="getResult.emit(functionName)">
        @if (functionName === pow) {
        <span>x<sup>y</sup></span>
        } @else {
        <span>{{ functionName }}</span>
        }
      </button>
      }
    </div>
  </div>
</div>
